<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Changement de mot de passe - AuthGate</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #ffffff;
      margin: 0;
      padding: 20px;
      color: #333;
      line-height: 1.6;
    }

    .content {
      max-width: 600px;
    }

    .header h1 {
      color: #3498db;
      font-size: 22px;
      margin-bottom: 20px;
    }

    .highlight {
      font-weight: bold;
      color: #2c3e50;
    }

    .footer {
      margin-top: 40px;
      font-size: 13px;
      color: #888;
    }
  </style>
</head>
<body>
<div class="content">
  <div class="header">
    <h1>🔒 Changement de mot de passe - AuthGate</h1>
  </div>

  <p>Bonjour Madame/Monsieur <strong th:text="${firstName}">,</strong></p>

  <p>Nous vous informons que le mot de passe de votre compte a été <span class="highlight">modifié avec succès</span>
    <span th:if="${changeTime}" th:text="'le ' + ${#temporals.format(changeTime, 'dd/MM/yyyy à HH:mm')}"></span>.
  </p>

  <p>Si vous êtes à l’origine de ce changement, aucune action supplémentaire n’est requise.
    Si vous n’êtes pas à l’origine de ce changement, veuillez contacter immédiatement notre équipe support :</p>

  <p>Contacts: +22822234565</p>
  <p>WhatsAp: +22891554874</p>
  <p>Email: support@authgate.com</p>


  <div class="footer">
    <p>&copy; 2025 AuthGate — Sécurité et confiance avant tout.</p>
  </div>
</div>
</body>
</html>
